.contact {
  padding: 70px;
  text-align: center;
  background: #e3f2fd;
}

.contact h2 {
  color: #0d47a1;
  font-size: 32px;
  margin-bottom: 30px;
}

.contact-box {
  background: white;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
}

.contact button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #0d47a1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}