.recruiters {
  padding: 80px 50px;
  text-align: center;
  background: white;
}

.recruiters h2 {
  color: #0d47a1;
  font-size: 34px;
  margin-bottom: 45px;
}

.recruiter-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.recruiter-card {
  width: 170px;
  padding: 28px;
  background: #f4f6f9;
  border-radius: 14px;
  font-weight: bold;
  color: #0d47a1;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

.recruiter-card:hover {
  transform: scale(1.08);
  background: #e3f2fd;
}